<!-- Following Menu -->
<%= render "partials/nav/fixed_hidden_menu" %>

<!-- Sidebar Menu -->
<%= render "partials/nav/sidebar_menu" %>

<!-- Page Contents -->
<div class="pusher">
  <%= render "partials/panels/header_panel" %>

  <a name="about"></a>
  <%= render "partials/panels/about_panel" %>

  <a name="portfolio"></a>
  <%= render "partials/panels/portfolio_intro_panel" %>

  <%= render "partials/panels/projects_panel" %>

  <a name="connect"></a>
  <%= render "partials/panels/connect_panel" %>

  <%= render "partials/footer/footer" %>



</div>
