<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="item" href="#about">About</a>
    <a class="item" href="#portfolio">Portfolio</a>
    <a class="item" href="#connect">Connect</a>
    <div class="right item">
      <a href="https://github.com/matt-stj"><i class="large github link icon"></i></a>
      <a href="https://www.linkedin.com/in/mattstjernholm"><i class="large linkedin link icon"></i></a>
      <a href="mailto:matthew.stjernholm@gmail.com"><i class="large mail outline link icon"></i></a>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
  <a class="item" href="#about">About</a>
  <a class="item" href="#portfolio">Portfolio</a>
  <a class="item" href="#connect">Connect</a>
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="item" href="#about">About</a>
        <a class="item" href="#portfolio">Portfolio</a>
        <a class="item" href="#connect">Connect</a>
        <div class="right item animated">
          <a href="https://github.com/matt-stj"><i class="large github link icon"></i></a>
          <a href="https://www.linkedin.com/in/mattstjernholm"><i class="large linkedin link icon"></i></a>
          <a href="mailto:matthew.stjernholm@gmail.com"><i class="large mail outline link icon"></i></a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Matt Stjernholm
      </h1>
      <h2>Ruby + JavaScript Developer </h2>
    </div>

  </div>

  <a name="about"></a>
  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eleven wide column">
          <h2 class"ui huge header">About</h2>
          <h3 class"ui header">Tech Geek + Adventurer</h3>
          <p>
            I spent the years after I graduated college searching for work that I found meaningful. It was a journey that involved all sorts of jobs and projects — from teaching English overseas and guiding outdoor education programs
            — to helping Fortune 500 companies build sustainability initiatives. I came to love coding after working on a product team for an early-stage startup, and dedicated myself to spending <strong>2,000 hours of learning from the best teachers and mentors in web development</strong>. Today, I'm ready to contribute to a fast-paced tech team.
          </p>
        </div>
        <div class="four wide right floated column aligned center">
          <%= image_tag("matt-500x500.png", class: "ui aligned centered circular image push-down") %>
          <p class="ui center aligned small-text">
            When I'm not writing code, you'll find me travelling, adventuring outdoors, or searching for good food.
          </p>
        </div>
      </div>
    </div>
  </div>

  <a name="portfolio"></a>
  <div class="ui vertical stripe segment secondary-bg small-stripe">
    <div class="ui middle aligned stackable grid fluid container">
      <div class="row">
        <div class="four wide left floated gray column">
          <%= image_tag("html.png", class: "ui aligned centered circular image push-down") %>
        </div>
        <div class="eleven wide left floated column right-align">
          <h2 class"ui right-align header">Portfolio</h2>
          <h3 class"ui header right-align">Ruby on Rails + Javascript</h3>
          <p>
            The Ruby on Rails apps below consist of projects that I've completed as coursework or personal side projects during my time at the <span><a href="http://turing.io" target="_blank">Turing School for Software and Design.</a></span>
            They were all built with Test Driven Development, Object Oriented Programming, and best practices for building elegant MVC applications (RESTful routes, logic pushed down the stack, and DRY code)
          </p>
        </div>
      </div>
    </div>

      <div class="ui container top-margin">
        <div class="ui equal width stackable internally celled grid">
          <div class="center aligned centered row">
            <div class="centered column">
              <div class="ui cards">
                <div class="ui card">
                  <div class="image">
                    <%= image_tag("snow-alert.png") %>
                  </div>
                  <div class="content">
                    <div class="header">Snow Alert</div>
                    <div class="meta">
                      <span class="right floated">
                        <a href="https://github.com/matt-stj/snow_alert" ><i class="github icon large link"></i></a>
                      </span>
                      <span>
                        <a href="http://snow-a1ert.herokuapp.com" ><i class="world icon large link"></i>Live App</a>
                      </span>
                    </div>
                    <div class="description">
                      Snow Alert is an app that lets you track when snowfall is coming to your favorite mountains. Create a profile with FaceBook's OAuth, add your favorite mountains to your profile, and receive daily email alerts with forecasts for your resorts.
                    </div>
                  </div>
                  <div class="extra content">
                    <span>
                      <i class="circular inverted  grey tiny code icon"></i>
                      Ruby on Rails + Javascript + Sendgrid
                    </span>
                  </div>
                </div>

                <div class="ui card">
                  <div class="image">
                    <%= image_tag("rails-engine.png") %>
                  </div>
                  <div class="content">
                    <div class="header">Rails Engine</div>
                    <div class="meta">
                      <span class="right floated">
                        <a href="https://github.com/matt-stj/snow_alert" ><i class="github icon large link"></i></a>
                      </span>
                      <span>
                        <a href="https://rails-engine-demo.herokuapp.com/" ><i class="world icon large link"></i>Live App</a>
                      </span>
                    </div>
                    <div class="description">
                      Use Rails and ActiveRecord to build a JSON API with endpoints that display business intelligence data from an online merchant database.<br><br>
                      25+ RESTful API endpoints and Single-Responsibility controllers.
                    </div>
                  </div>
                  <div class="extra content">
                    <span>
                      <i class="circular inverted  grey tiny code icon"></i>
                      ActiveRecord + JSON API + AJAX
                    </span>
                  </div>
                </div>


                <div class="ui card">
                  <div class="ui card">
                    <div class="image">
                      <%= image_tag("twitter-curious.png") %>
                    </div>
                    <div class="content">
                      <div class="header">Twitter Clone</div>
                      <div class="meta">
                        <span class="right floated">
                          <a href="https://github.com/matt-stj/api-twitter-curious" ><i class="github icon large link"></i></a>
                        </span>
                        <span>
                          <a href="http://twitter-curious.herokuapp.com/" ><i class="world icon large link"></i>Live App</a>
                        </span>
                      </div>
                    <div class="description">
                      Interact with your Twitter account through this look-alike app.
                      With Twitter's OAuth and access to their API, you can view your feed, create new tweets, follow/unfollow users, and favorite tweets.
                      This was my first exploration into OAuth and working with API data.
                    </div>
                  </div>
                  <div class="extra content">
                    <span>
                      <i class="circular inverted  grey tiny code icon"></i>
                      RoR + OAuth + VCR Testing
                    </span>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>


  <a name="connect"></a>
  <div class="feature alternate ui stripe vertical segment small-stripe">
      <div class="ui three column center aligned relaxed stackable grid container">
        <div class="row">
          <div class="column">
            <h2 class="ui icon header link">
              <%= link_to image_tag("github.png", class: "ui social-logo icon"), "https://github.com/matt-stj"  %>
            </h2>

          </div>
          <div class="column">
            <h2 class="ui icon header link">
              <%= link_to image_tag("linkedin.png", class: "ui social-logo icon"), "https://www.linkedin.com/in/mattstjernholm"  %>
            </h2>

          </div>
          <div class="column">
            <h2 class="ui icon header link">
              <%= link_to image_tag("email.png", class: "ui social-logo icon"), "mailto:matthew.stjernholm@gmail.com" %>
            </h2>

          </div>
        </div>
    </div>

  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <a href="#about" class="white-text"><h4 class="ui inverted">About</h4></a>
        </div>
        <div class="three wide column">
          <a href="#portfolio" class="white-text"><h4 class="ui inverted">Portfolio</h4></a>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted">© Matt Stjernholm</h4>
        </div>
      </div>
    </div>
  </div>
</div>
